<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap Login Form Template</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/form-elements.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ url_for('static', filename='ico/apple-touch-icon-144-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ url_for('static', filename='ico/apple-touch-icon-114-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ url_for('static', filename='ico/apple-touch-icon-72-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='ico/apple-touch-icon-57-precomposed.png') }}">

    </head>

    <body>

        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Login to our site</h3>
                            		<p>Enter your username and password to log in:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-key"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" action="" method="post" class="login-form">
                                    {{ form.csrf_token }}
			                    	<div class="form-group">
			                    		<label class="sr-only" for="email">Email</label>
			                        	<input type="text" name="email" placeholder="Email..." class="form-email form-control" id="email">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="password">Password</label>
			                        	<input type="password" name="password" placeholder="Password..." class="form-password form-control" id="password">
			                        </div>
                                    <div class="form-group">
                                        <label >
                                            <input type="checkbox" class="remember_me" name="remember_me" id="remember_me"> Remember me
                                        </label>
                                    </div>
			                        <a href="{{ url_for('auth.login') }}"><button type="submit" id="submit" class="btn">Sign in!</button></a>
                                    <a href="{{ url_for('auth.register') }}"><p class="register-link">Register</p></a>
			                    </form>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


        <!-- Javascript -->
        <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.backstretch.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <script src="/static/js/jquery.validate.js"></script>
        <script src="/static/js/messages_zh.js"></script>

        <!--[if lt IE 10]>
            <script src="{{ url_for('static', filename='js/placeholder.js') }}"></script>
        <![endif]-->

        <script>
            $(document).ready(function(){
                var validator = $("form").validate({

                    focusInvalid: true,
                    errorClass: "input-error",
                    onkeyup: false,
                    onclick: false,

                    rules: {
                        email: {
                            required: true,
                            email: true
                        },

                        password: {
                            required: true,
                            remote: {
                                url: "{{ url_for('auth.validate_password') }}",
                                type: "post",
                                data: {
                                  email: function() {
                                    return $( "#email" ).val();
                                  }
                                }
                            }
                        },
                    },

                    messages: {
                        email: {
                            required: "请输入有效的邮箱地址",
                            email: "请输入有效的邮箱地址"
                        },

                        password: {
                            required: "请输入密码",
                            remote: "密码错误"
                        },
                    }
                });
            });
        </script>


    </body>

</html>